# Created by .ignore support plugin (hsz.mobi)
!/.idea/
!/out/
!/netty/target/
!/netty/target/
!/redis/target/
!/redis/HELP.md
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/workspace.xml
!/out/
!/study.iml
